# Basic Python Syntax

1)Blackslash(\)

In [3]:
print("hello \
python")

hello python

2)Triple Quotes

In [ ]:
"""This is a comment"""

3)String inside Quotes

In [4]:
print("Python's World")

Python's World

4)Escape Sequence of string

In [5]:
print("Hello \t Python")

Hello 	 Python

5)Formatted Output

In [15]:
name="xyz"
marks="90"
age="20"
print(f"The name of person is {name} , marks are {marks} and age is {age}" )

The name of person is xyz , marks are 90 and age is 20

# Python variables and assignment operator

a=10
b=20
c=30

In [21]:
a=10
id(a)

140713401885360

# Python operators

1)Arithmetic Operators

In [24]:
10+30

40

In [25]:
50-20

30

In [26]:
7*3

21

In [27]:
81/9

9.0

In [28]:
6**2

36

In [33]:
10//3

3

2)Comparison Operators

In [36]:
a=4
b=2
c=6
a==b

False

In [37]:
a==c

False

In [38]:
a!=b

True

In [40]:
a>b

True

In [41]:
a<c

True

In [42]:
a>=c

False

In [43]:
a<=b

False

3)Assignment operators

In [48]:
a=2
a=b
print(b)

2

4)Biwise Operator

In [44]:
a|b

6

In [45]:
bin(a)

'0b100'

5)Logical Operators

In [52]:
10>9 or 20>10

True

In [53]:
10<9 and 20>m

False

6)Membership Operators

In [55]:
str="pythonprogramming"
"a" in str

True

In [56]:
"x" not in str

True

7)Identity Operator

In [57]:
a=10
b=10
a is b

True

In [58]:
x=1.5
y=1.5
x is not y

True